@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<MyPurchaseViewModel> productDetails = (List<MyPurchaseViewModel>)ViewData["myPurchaseViewModel"];
 }
@{

    <head>
        <link href="~/css/MyPurchase.css" rel="stylesheet" />
    </head>
    @if (productDetails == null)
    {
        <div>Your history is empty.</div>
    }
    else
    {
        foreach (var item in productDetails)
        {
            <div class="producthistory">
                <div class="left">
                    <img src="https://www.dute.org/imgplaceholder/360x240">
                    <p>@item.Name</p>
                    <p>@item.Description</p>
                    <button>DownLoad</button>
                </div>

                <div class="right">
                    <p>Purchase on: @item.DateTime</p>
                    <p>Quantity: @item.Quantity</p>
                    <p>
                        Activation Code: <select>
                            <option value="value">text</option>
                            <option value="value">text</option>
                        </select>
                    </p>
                    <form id="score_form">
                    </form>
                    <form>
                        <div class="star-rating">
                            <fieldset class="starability-basic">
                                <p style="color:blue">Rating</p>
                                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                                <input type="radio" id="first-rate1" name="rating" value="1" />
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="rating" value="2" />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="rating" value="3" />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="rating" value="4" />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="rating" value="5" />
                                <label for="first-rate5" title="Amazing">5 stars</label>
                            </fieldset>
                        </div>
                    </form>
                    <p>Leave your review:</p>
                    <textarea rows="6" cols="40"></textarea>
                    <button>Submit</button>
                </div>
            </div>
        }
    }

    @*for (int i = 0; i < 99; i++)
        {
            <div class="producthistory">
                <div class="left">
                    <img src="https://www.dute.org/imgplaceholder/360x240">
                    <p>Product Name</p>
                    <p>The new release of Adobe Creative Cloud gives you all the best creative apps and services, so you can stay more connected and creative wherever you’re inspired.</p>
                    <button>DownLoad</button>
                </div>

                <div class="right">
                    <p>Purchase on: @ViewData[""]</p>
                    <p>Quantity: @ViewData[""]</p>
                    <p>
                        Activation Code: <select>
                            <option value="value">text</option>
                            <option value="value">text</option>
                        </select>
                    </p>
                    <form id="score_form">
                    </form>
                    <form>
                        <div class="star-rating">
                            <fieldset class="starability-basic">
                                <p style="color:blue">Rating</p>
                                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                                <input type="radio" id="first-rate1" name="rating" value="1" />
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="rating" value="2" />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="rating" value="3" />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="rating" value="4" />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="rating" value="5" />
                                <label for="first-rate5" title="Amazing">5 stars</label>
                            </fieldset>
                        </div>
                    </form>
                    <p>Leave your review:</p>
                    <textarea rows="6" cols="40"></textarea>
                    <button>Submit</button>
                </div>
            </div>
        }*@
}
<head>
    <link href="~/css/MyPurchase.css" rel="stylesheet" />
</head>
<style>

    .producthistory {
        width: 850px;
        height: 400px;
        display: block;
        margin: 0 auto;
    }

    .left {
        display: table-cell;
        background: yellow;
        width: 400px;
        text-align: center;
        margin: 10px;
    }

    .right {
        display: table-cell;
        background: burlywood;
        width: 400px;
        margin: 0px;
        padding-left: 5px;
    }

    img {
        padding-top: 10px;
    }

    .textdiv {
        width: 100%;
        border: 1px solid #EBEBEB;
        min-height: 24px;
        background-color: #FFF;
        border-radius: 5px 5px;
        overflow-y: auto;
        font-size: 0.9em;
    }
</style>

@*<div class="producthistory">
        <div class="left">
            <img src="https://www.dute.org/imgplaceholder/360x240">
            <p>Product Name</p>
            <p>The new release of Adobe Creative Cloud gives you all the best creative apps and services, so you can stay more connected and creative wherever you’re inspired.</p>
            <button>DownLoad</button>
        </div>

        <div class="right">
            <p>Purchase on: 12, OCT, 2021</p>
            <p>Quantity: 2</p>
            <p>
                Activation Code: <select>
                    <option value="value">text</option>
                    <option value="value">text</option>
                </select>
            </p>
            <p>Leave A Review!</p>
        </div>
    </div>*@


@*<div class="historydiv1">
        <table border="1">
            <tr>
                <td>
                    <div class="leftpart">
                        <img src="https://www.dute.org/imgplaceholder/800x240" width="400" height="240">
                        <div class="pro_name">Product Name</div>
                        <div class="pro-desc">The new release of Adobe Creative Cloud gives you all the best creative apps and services, so you can stay more connected and creative wherever you’re inspired.</div>
                        <button>DownLoad</button>
                    </div>
                </td>
                <td>
                    <div class="rightpart" style="display:inline">
                        <p>Purchase on: 12, OCT, 2021</p>
                        <p>Quantity: 2</p>
                        <p>
                            Activation Code: <select>
                                <option value="value">text</option>
                                <option value="value">text</option>
                            </select>
                        </p>
                        <p>Leave A Review!</p>
                    </div>
                </td>
        </table>
    </div>*@
