@{
    ViewData["Title"] = "Home Page";
    List<Products> allProducts = (List<Products>)ViewData["allProducts"];
}
<div class="container">
      <div class="row mx-auto">
@{
    foreach (Products products in allProducts)
    {
        string url = "/images/" + Convert.ToString(products.ProductID) + ".png";
        <div class="card m-10 p-10" style="width: 18rem;">
            <img class="card-img-top" src="@url" alt="Product Image TBF">
            <div class="card-body">
                <h5 class="card-title">@products.ProductName</h5>
                <p class="card-text">@products.Description</p>
                <p class="card-text" id="@products.ProductID"></p>
                <a onclick="addToCart(@products.ProductID);" class="btn btn-primary">$@products.UnitPrice - Add to Cart</a>
                <a onclick="removeFromCart(@products.ProductID);" class="btn btn-primary">Remove from Cart</a>
            </div>
        </div>
        <br/>
    }
}
    </div>
</div>