@{
    ViewData["Title"] = "Home Page";
    List<Products> allProducts = (List<Products>)ViewData["allProducts"];
    string searchStr = (string)ViewData["searchStr"];

}
<!--HEAD-->
<h1>All Products</h1>
@{
    @* Kenny search *@
    <form action="/Search/" method="POST">
        Search Products: <input name="searchStr" value="@searchStr" style="width:75%"/>
    </form>

    <p></p>
    }

    
    <div class="container">
            <div class="row mx-auto">
                @{foreach (Products products in allProducts)
                    {
                        <div class="card m-10 p-10" style="width: 18rem; margin: 0.5rem;">
                        <img class="card-img-top mx-auto" style="width: 150px;height: 150px; margin: 1rem" src="/img/@products.Image" alt="Product Image TBF">
                        
                        <div class="card-body">
                            <h5 class="card-title text-center">@products.ProductName</h5>
                            <p class="card-text text-center">@products.Description</p>
                            <p class="card-text text-center" style="font-weight:bold">$@products.UnitPrice</p>
                            <p class="card-text text-center" id="@products.ProductID"></p>
                        </div>
                        
                        <div class="card-text text-center">
                            <a onclick="addToCart(@products.ProductID);" class="btn btn-primary" style="color:white; background-color:royalblue; border-color:royalblue;">Add to Cart</a>
                            <a onclick="removeFromCart(@products.ProductID);" class="btn btn-primary" style="color: white; background-color:dimgrey; border-color:dimgrey; margin: 1rem;">Remove from Cart</a></div>
                                
                        </div>
                    }
                }
            </div>
    </div>


    <!--still testing, semi-hardcoding the 6 products first-->
    <!--<div class="card-deck">
        @{//first row
            for (int i = 0; i < 3; i++)
            {
                string url = "/images/" + Convert.ToString(allProducts[i].ProductID) + ".png";
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Product Image TBF">
                    <div class="card-body">
                        <h5 class="card-title">@allProducts[i].ProductName</h5>
                        <p class="card-text">@allProducts[i].Description</p>
                        <p class="card-text" id="@allProducts[i].ProductID"></p>
                        <a onclick="addToCart(@allProducts[i].ProductID);" class="btn btn-primary">$@allProducts[i].UnitPrice - Add to Cart</a>
                        <a onclick="removeFromCart(@allProducts[i].ProductID);" class="btn btn-primary">Remove from Cart</a>
                    </div>
                </div>
            }
        }
    </div>

    <br />-->
 <!--rudimentary implementation of spacing between rows-->

    <!--<div class="card-deck">
        @{//second row
            for (int i = 3; i < 6; i++)
            {
                string url = "/images/" + Convert.ToString(allProducts[i].ProductID) + ".png";
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Product Image TBF">
                    <div class="card-body">
                        <h5 class="card-title">@allProducts[i].ProductName</h5>
                        <p class="card-text">@allProducts[i].Description</p>
                        <p class="card-text" id="@allProducts[i].ProductID"></p>
                        <a onclick="addToCart(@allProducts[i].ProductID);" class="btn btn-primary">$@allProducts[i].UnitPrice - Add to Cart</a>
                        <a onclick="removeFromCart(@allProducts[i].ProductID);" class="btn btn-primary">Remove from Cart</a>
                    </div>
                </div>
            }
        }
    </div>-->




