@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
    List<Products> allProducts = (List<Products>)ViewData["allProducts"];
    string searchStr = (string)ViewData["searchStr"];
}


<h1>SEARCH RESULTS</h1>
@{
    @* Kenny search *@
    <form action="/Search/" method="POST">
        Search: <input name="searchStr" value="@searchStr" />
    </form>

    <p></p>
}

<div class="container">
    <div class="row mx-auto">
        @{foreach (Products products in allProducts)
            {
                string url = "/images/" + Convert.ToString(products.ProductID) + ".png";
                <div class="card m-10 p-10" style="width: 18rem;">
                    <img class="card-img-top" src="@url" alt="Product Image TBF">
                    <div class="card-body">
                        <h5 class="card-title">@products.ProductName</h5>
                        <p class="card-text">@products.Description</p>
                        <p class="card-text" id="@products.ProductID"></p>
                        <a onclick="addToCart(@products.ProductID);" class="btn btn-primary">$@products.UnitPrice - Add to Cart</a>
                        <a onclick="removeFromCart(@products.ProductID);" class="btn btn-primary">Remove from Cart</a>
                    </div>
                </div>
                <br />
            }
        }
    </div>
</div>