@{
    Dictionary<Products, int> ShoppingCartDict = (Dictionary<Products, int>)ViewData["ShoppingCartDict"];
    
}

    <head>
        <script data-require="jquery@3.1.1" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="viewcart.css" />
        <script src="~/js/viewcart.js"></script>
    </head>

    <body>
        <h1>Shopping Cart</h1>


        @if (ShoppingCartDict.Count == 0)
        {
            <div>Your cart is empty!</div>
        }
        else
        {
            <table class=cart_Table>
                <tr>
                    <th>Item</th>
                    <th>Details</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
                
                @foreach (var cartitem in ShoppingCartDict)
                {
                    var placeholder = "subtotal" + @cartitem.Key.ProductID;
                    var placeholder2 = "unitprice" + @cartitem.Key.ProductID;
                    //var placeholder3 = "value" + @cartitem.Key.ProductID;

                    <tr>
                        <td><img src="@cartitem.Key.Image"></td>
                        <td>@cartitem.Key.ProductName<br>@cartitem.Key.Description<br><span id=@placeholder2>@cartitem.Key.UnitPrice</span></td>
                        <td>
                            <div class="quantity buttons_added">
                                @*<input type="button" value="-" class="minus">*@
                                <input id=@cartitem.Key.ProductID type="number" step="1" min="1" max="" name="quantity" value="@cartitem.Value" title="qty" class="input-text qty text" size="4" pattern="" inputmode="">
                                @*<input type="button" value="+" class="plus">*@
                            </div>
                        </td>
                        <td id=@placeholder>@cartitem.Key.UnitPrice</td>
                    </tr>
                }
            </table>
        }
    </body>